@font-face {
  font-family: 'GohuFont uni11 Nerd Font Mono';
  src: url('assets/gohufont_11.ttf');
}

:root {
  font-family: "GohuFont uni11 Nerd Font Mono";
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #000000 !important;
  color: #fff;

  --border-radius: 10px;
}

.titlebar {
  background-color: #000000;
}

.container {
  font-family: "GohuFont uni11 Nerd Font Mono";
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #000000;
  color: #fff;
  height: 100%
}

body {
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.content {
  margin: 0;
  display: flex;
  flex-direction: row;
}

.left {
  order: 1;
}

.right {
  order: 2;
  align-content: flex-end;
  justify-content: flex-end;
}

.box-wrapper {
  margin-top: 20px;
}

.box-wrapper.right {
  margin-left: 30px;
}

@media (max-width: 1080px) and (max-height: 900px) {
  .content {
    flex-direction: column;
  }

  .box-wrapper.left {
    margin-top: 20px;
  }

  .box-wrapper.right {
    margin-left: 0px;
    margin-top: 40px;
  }

  .box:focus-within {
    position: fixed;
    background-color: #000;
    transform: scale(1.4);
    box-shadow: 0px 0px;
  }

  .box-wrapper.right .box:focus-within {
    translate: 0 -90%;
    transition: all 0.18s ease-out;
  }

  .box-wrapper.left .box:focus-within {
    translate: 0 30%;
    transition: all 0.18s ease-out;
  }

  .box-wrapper:has(.box:focus-within) {
    border-style: none;
    box-shadow: none;
  }

}

@media (max-width: 1080px) {
  .content {
    flex-direction: column;
  }

  .box-wrapper.left {
    margin-top: 20px;
  }

  .box-wrapper.right {
    margin-left: 0px;
    margin-top: 40px;
  }

  .box:focus-within {
    position: fixed;
    background-color: #000;
    transform: scale(1.4);
    transition: all 0.18s ease-out;
    box-shadow: 0px 0px;
  }

  .box-wrapper.right .box:focus-within {
      outline: #fff;
    /*translate: 0 -90%;*/
  }

  .box-wrapper.left .box:focus-within {
    /*translate: 0 30%;*/
  }

  .box-wrapper:has(.box:focus-within) {
    border-style: none;
    box-shadow: none;
  }

}

.topbar {
  flex: 1;
  width: 100%;
  max-width: 900px;
  min-width: 230px;
  height: 100px;
}

.logo {
  padding-top: 15px;
  font-size: 20px;
  align-self: center;
  justify-self: center;
  width: 100px;
}

.datepicker {
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.yesterday,
.date,
.tomorrow {
  padding-left: 5px;
  padding-right: 5px;
}

.save {
  font-family: "GohuFont uni11 Nerd Font Mono";
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-right: 10px;
  background-color: #000;
  border: none;
  color: #fff;
  margin-right: 20px;
}

.box {
  display: flex;
  height: 250px;
  width: 300px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  border-style: dashed;
  border-left-style: solid;
  border-bottom-style: solid;
  border-width: 2px;
  background-color: #000;
    transition: all 0.18s ease-out;
  box-shadow: -6px 6px;
}

.box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 250px;
  width: 300px;
  margin: 0;
  padding: 0;
    transition: all 0.18s ease-out;
}

.box:focus-within {
  position: fixed;
  border: 2px solid #fff;
  background-color: #000;
  transform: scale(1.2);
  box-shadow: 0px 0px;
}

.box-wrapper.right .box:focus-within {
  position: fixed;
  transform: scale(1.1);
}

.box-wrapper.left .box:focus-within {
  position: fixed;
  transform: scale(1.2);
}

.box-wrapper:has(.box:focus-within) {
  border-style: none;
  box-shadow: none;
}

.text {
  font-family: "GohuFont uni11 Nerd Font Mono";
  max-width: 100%;
  height: 100%;
  padding: 20px;
  border: 0px;
  border-top: 2px dotted #fff;
  overflow: scroll;
  background-color: #000;
  color: #fff;
  resize: none;
}

.todo-list {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  padding: 20px;
  border-top: 2px dotted #fff;
  background-color: #000;
  color: #fff;
  overflow: scroll;
}

.box-header {
  display: flex;
  flex-direction: row;
  min-height: 50px;
  max-height: 50px;
  align-items: center;
  font-weight: 600;
}

.todo-header {
  width: 100%;
  margin-left: 20px;
}

.note-header {
  width: 100%;
  margin-left: 20px;
}

.add-todo {
  width: 100%;
  margin-right: 20px;
}


.todo-item {
  display: flex;
  flex-direction: row;
  height: 40px;
  background: none;
  color: #fff;
  padding: 0px 30px;
  align-items: flex-start;
  justify-content: flex-start;
}

.todo-item-text {
  background: none;
  color: #fff;
}

input.todo-item-text {
  font-family: "GohuFont uni11 Nerd Font Mono";
  border: 1px solid #fff;
  text-justify: center;
  height: 20px;
  max-width: 70%;
  justify-content: flex-end;
  padding-left: 7px;
  padding-right: 7px;
}

.input:focus {
  font-family: "GohuFont uni11 Nerd Font Mono";
  outline: #fff;
  border-color: #fff;
  box-shadow: inset 0 1px 4px #fff, 0 0 20px 2px #fff;
}

.box-todo-item {
  min-width: 40px;
}

li.todo-item-text {
  align-self: flex-start;
  height: 20px;
  max-height: 20px;
  padding-left: 20px;
  list-style-type: none;
}
